*.pyc
*__init__.py
*.lhe

# Simulators:
Simulators/FatjetSimulator/test/*.root

# Analyzers:
Analyzers/FatjetAnalyzer/test/*.root
Analyzers/FatjetAnalyzer/test/jec_data/*.txt
Analyzers/FatjetAnalyzer/test/condor_jobs
Analyzers/FatjetAnalyzer/test/crab_projects

# Results:
Analyzers/FatjetAnalyzer/test/analysis/results/
Analyzers/FatjetAnalyzer/test/analysis/study_dalitz/results/
Analyzers/FatjetAnalyzer/test/analysis/study_*/*.root
Analyzers/FatjetAnalyzer/test/analysis/study_*/*.pdf
Analyzers/FatjetAnalyzer/test/analysis/study_*/*.png
Analyzers/FatjetAnalyzer/test/analysis/study_*/*.tex
